<a href="https://colab.research.google.com/github/nguyenb3179/CTI110/blob/main/P2HW2_NguyenBryan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Bryan Nguyen

# 02/24/2025

# P2HW2

# Use list to capture student's grade

# Get 6 grades form the user - they should be floats
grade1 = float(input("Enter grade for Module 1: "))
grade2 = float(input("Enter grade for Module 2: "))
grade3 = float(input("Enter grade for Module 3: "))
grade4 = float(input("Enter grade for Module 4: "))
grade5 = float(input("Enter grade for Module 5: "))
grade6 = float(input("Enter grade for Module 6: "))

# Create an empty list
grades_list = []

# Use the append method to add all grades into the list
grades_list.append(grade1)
grades_list.append(grade2)
grades_list.append(grade3)
grades_list.append(grade4)
grades_list.append(grade5)
grades_list.append(grade6)
print()

# Display the list
print(grades_list)
print()

#Display values to user
print("-----------Results-----------")
print(f"{'Lowest Grade:':<23} {min(grades_list)}")
print(f"{'Highest Grade:':<23} {max(grades_list)}")
print(f"{'Sum of Grades:':<23} {sum(grades_list)}")
average = sum(grades_list) / len(grades_list)
print(f"{'Average:':<23} {average:.2f}")
print("------------------------------")

Enter grade for Module 1: 9
Enter grade for Module 2: 10
Enter grade for Module 3: 22
Enter grade for Module 4: 8
Enter grade for Module 5: 7
Enter grade for Module 6: 10

[9.0, 10.0, 22.0, 8.0, 7.0, 10.0]

-----------Results-----------
Lowest Grade:           7.0
Highest Grade:          22.0
Sum of Grades:          66.0
Average:                11.00
------------------------------